.wrapper {
    text-align: center;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.timer-wrapper {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;
}

.time {
    font-size: 22px;
}

.answer-right {
    color: green;
}

.answer-wrong {
    color: red;
}
