body {
    margin: 0;
}

#root {
    color: #3f51b5;
}

.wrapper {
    text-align: center;
}

.address-input {
    margin: 15px;
}

.name-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.name-wrapper > Button {
    margin-left: 10px;
}

.count-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.count-text {
    margin: 7px;
    font-size: 18px;
}

.timer-wrapper {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;
}

.time {
    font-size: 22px;
}

.question-text {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 22px;
}

.choice-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choice-wrapper > Button {
    margin: 15px;
}
