#root {
    color: #3f51b5;
}

.wrapper {
    text-align: center;
}

.address-input {
    margin: 15px;
}

.name-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.name-wrapper Button {
    margin-left: 10px;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.online {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.onlineCount {
    margin: 7px;
    font-size: 18px;
}

.timer-wrapper {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;
}

.time {
    font-size: 22px;
}

.answer-right {
    color: green;
}

.answer-wrong {
    color: red;
}
