body {
    margin: 0;
}

#root {
    color: #3f51b5;
    font-size: 18px;
}

.wrapper {
    text-align: center;
    margin-bottom: 50px;
}

.description {
    margin: 0 auto;
    padding: 10px;
    max-width: 326px;
    border: 2px solid #3f51b5;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.lower-description {
    margin-top: 25px;
}

.address-input {
    margin: 25px;
}

.name-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.name-wrapper button {
    margin-left: 10px;
}

.next-text {
    margin-top: 30px;
    margin-bottom: 5px;
}

.multitimer {
    margin-bottom: 30px;
}

.multitimer-wrapper {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;
}

.timer-wrapper {
    margin: 5px;
}

.time {
    font-size: 22px;
}

.linear-progress {
    margin: 40px;
}

.question-text {
    margin: 25px 20px 10px 20px;
    font-size: 22px;
}

.choice-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
