.wrapper {
    text-align: center;
}

.logout-button {
    float: left;
}

.online {
    text-align: right;
}

.timer-wrapper {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;
}

.time {
    font-size: 22px;
}
